<html>
<head>
<title>FriendScore</title>
<link href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css" rel="stylesheet" />
<!--[if lte IE 8]>
<link href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css" rel="stylesheet" />
<![endif]-->
<script src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"></script>
<style>
body {
    margin: 0;
    padding: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #2C3E50;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.container {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20%;
    z-index: 2;
    padding-bottom: 100px;
}

.container .content {
    background-color: #fff;
}

h1 {
    background-image: url("{{ asset('bundles/friendscoreweb/images/Map@2x.png') }}");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 20px 30px;
    padding: 30px 40px 40px 140px;
    margin: 0;
    font-weight: 500;
    text-rendering: optimizelegibility;
    background-color: #3498DB;
    color: #ECF0F1;
}

h2 {
    font-weight: normal;
    font-size: 14px;
    color: #95A5A6;
    text-align: right;
    margin: 0;
    padding: 10px;
}

a {
    color: #D35400;
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin: 0;
    padding-bottom: 20px;
}

ul li {
    list-style-type: none;
    margin: 0;
}

ul a {
    display: block;
    color: #2C3E50;
    padding: 10px 20px;
}

ul a:hover {
    background-color: #ECF0F1;
}

ul small {
    color: #95A5A6;
}

.content {
    position: relative;
}
</style>
</head>
<body>

<div class="container">
<div class="content">

<h1>
    Friend&shy;Score
</h1>

<h2>Recent visits</h2>

<ul>
    {% for visit in visits %}
        <li>
            <a href="{{ url('friendscore_web_default_place', {'id': visit.place_id}) }}">
                {{ visit.first_name }}
                checked in to
                {{ visit.place_name }}
                <br />
                <small>{{ visit.last_checkin|date("F jS \\a\\t g:ia") }}</small>
            </a>
        </li>
    {% endfor %}
</ul>

<!--
<h2>Recommended places</h2>

<ul>
    {% for place in places %}
        <li><a href="{{ place.url }}">{{ place.name }}</a></li>
    {% endfor %}
</ul>
-->

</div>
</div>

<div id="map"></div>

<script>

var map = L.mapbox.map('map', 'equivalence.map-ju0tzt0i');
map.setView([47.37842966928331, 8.5350089935687], 14);

var geoJson = {
    type: 'FeatureCollection',
    features: []
};

{% for place in places %}
geoJson.features.push({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [{{ place.location.lon }}, {{ place.location.lat }}]
    },
    properties: {
        title: '{{ place.name }}',
        //description: 'Just one of me',
        // one can customize markers by adding simplestyle properties
        // http://mapbox.com/developers/simplestyle/
        'marker-color': '#E67E22'
    }
});
{% endfor %}

map.markerLayer.setGeoJSON(geoJson);

</script>

</body>
</html>
